/*
 * Feel: Non-layout
 */

body {
  font-family: 'Cardo', Gentium, 'SBL Greek', 'Palatino Linotype', serif;
}

h1, h2, h3, h4, h5, h6, dt {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}

h1 {
  letter-spacing: 0.2em;
}

pre, kbd, tt {
  font-family: 'Inconsolata', 'Droid Sans Mono', 'Lucida Typewriter', 'Lucida Console', 'Courier New', Courier, monospace;
}

html {
  background-color: #333;
}

body {
  background-color: white;
  color: black;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('http://themes.googleusercontent.com/font?kit=J_eeEGgHN8Gk3Eud0dz8jw') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans Std Light'), url('http://themes.googleusercontent.com/font?kit=doRWK9Qks0OQGenH-kW8nsnX9wMe89zs2uzox0MWMfk') format('truetype');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: local('Yanone Kaffeesatz'), url('http://themes.googleusercontent.com/font?kit=We_iSDqttE3etzfdfhuPRfYfc3bPVUtuDoUoHMkf5-E') format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz'), url('http://themes.googleusercontent.com/font?kit=YDAoLskQQ5MOAgvHUQCcLdZ76ZYKVLHIjRQjrp3kYFc') format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz'), url('http://themes.googleusercontent.com/font?kit=We_iSDqttE3etzfdfhuPRWdYuNb9i97qInNKPYJgRwg') format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz'), url('http://themes.googleusercontent.com/font?kit=We_iSDqttE3etzfdfhuPRQL07A8tpHrkwi7BQtnqF-Q') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo'), url('http://themes.googleusercontent.com/font?kit=-wDXL3w4Eh8e-nbTunW3Bg') format('truetype');
}
